useDynLib(vProlog, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(prolog_open)
export(prolog_close)
export(pl_consult)
export(pl_consult_text)
export(pl_use)
export(pl_eval)
export(pl_query)
export(pl_count)
export(pl_findall)
